services:
  redis:
    image: redis:7-alpine
    container_name: redis-queue
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes 
    networks:
      - redis-net

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"
    networks:
      - redis-net
    depends_on:
      - redis

networks:
  redis-net:
    driver: bridge

volumes:
  redis_data: